* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: $fontGothic;
  color: $black3;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}

button, input, textarea {
  border: none;
  outline: none;
  font-family: $fontGothic;
  background-color: transparent;
}

button {
  cursor: pointer;
}
